<section class="container">
  <h1>Lorem ipsum dolor sit amet.</h1>
  <form action="/" method="POSTO">
    <label for="">Cliente</label>
    <input type="text" name="cliente" id="">
    <button>Submit</button>
  </form>
</section>