<section class="container">
  <h1>Lorem ipsum dolor sit amet.</h1>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <form action="/" method="POST">
    <label for="">Cliente</label>
    <input type="text" name="cliente" id="">
    <button>Submit</button>
  </form>
</section>